PORT=5000
JWT_SECRET=change_this_secret_key_in_production
JWT_EXPIRE=7d
CLIENT_URL=https://didactic-acorn-vpg6gj7594v42p4jg-5173.app.github.dev
MONGODB_USERNAME="himmat4f1_db_user"
MONGODB_PASSWORD="zu2RmvmRlqAHJtpw"
MONGO_URI="mongodb+srv://himmat4f1_db_user:zu2RmvmRlqAHJtpw@societydb.majn6pt.mongodb.net"